.user-card {
  border-bottom: 1px solid var(--border-color);
  padding: 20px 0;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: nowrap;
  }

  &--image {
    height: 185px;
    min-width: 185px;

    .image__blur {
      height: 185px;
    }
  }

  &--text {
    @media screen and (min-width: 768px) {
      padding-left: 30px;
    }

    h1 {
      display: flex;
      margin: 0 0 10px 0;
      line-height: 1;
      > span {
        margin-left: auto;

        sup {
          font-size: 0.5em;
          font-weight: 400;
        }

        .slash {
          font-weight: 400;
        }

        .earnings-rate {
          font-size: 0.5em;
          font-weight: 400;
        }
      }
    }

    > div {
      color: var(--secondary-color);
    }

    .description {
      margin: 10px 0 15px;
    }

    .offerings {
      display: flex;
      flex-wrap: wrap;
      justify-content: start;

      .item {
        display: flex;
        flex-direction: column;

        &--label {
          display: none;
        }
      }
    }
  }
}
