// Auth layout specific styles

.auth {
  .logo {
    margin-bottom: 30px;
  }
}

.login-page {
  display: flex;
  min-height: 100vh;
  position: relative;

  .login-image {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;

    @media screen and (min-width: 992px) {
      //   position: relative;
      width: 60vw;
    }

    img {
      object-fit: cover;
      // width: 60vw !important;
      height: auto;
      width: 100vw;

      @media screen and (min-width: 992px) {
        height: auto;
        width: 60vw;
      }
    }
  }

  .login-wrapper {
    background-color: rgba($color: #fefefe, $alpha: 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 60px;
    min-height: 100vh;
    width: 100vw;
    text-align: center;
    overflow-x: hidden;
    position: absolute;
    top: 0;
    left: 0;

    @media screen and (min-width: 992px) {
      //   justify-content: center;
      margin-left: auto;
      position: relative;
      width: 40vw;
    }

    .forgot-password-link {
      margin: 0 0 25px;
    }

    .login-register-link {
      margin: 25px 0;
    }
  }

  .register-box,
  .login-box {
    max-width: 400px;
    width: 100%;
  }

  form {
    margin-top: 40px;
  }
}
