.checks {
  background-color: var(--field-background-color);
  border: 1px solid var(--field-border-color);
  border-radius: var(--field-border-radius);
  margin-bottom: 15px;
  padding: 20px 15px;
  position: relative;

  .input-box:has(input[type='checkbox']) {
    display: none;
  }

  > label {
    background-color: var(--field-background-color);
    color: var(--heading-color);
    line-height: 1;
    display: block;
    transform-origin: left top;
    max-width: calc(133% - 55px);
    padding: 0 5px;
    pointer-events: auto;
    z-index: 1;
    position: absolute;
    left: 0px;
    top: 0px;
    transform: translate(10px, -1px) scale(0.8);
    user-select: none;

    span {
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-top: -6px;
    }
  }
}
