.sitters-hero {
  min-height: 100vh;
  width: 100vw;
  position: relative;

  .inner {
    max-width: 1010px;
    padding-top: 60px;

    h2 {
      text-align: center;
      margin-bottom: 30px;
    }

    .sitters {
      display: grid;
      gap: 30px;
      grid-template-columns: 1fr;

      @media screen and (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media screen and (min-width: 992px) {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    a.load-more {
      display: flex;
      justify-content: center;
      font-size: 1.7rem;
      margin: 30px 0 0;
    }
  }

  .background {
    background-color: rgba($color: #ebba8a, $alpha: 1);
  }
}
