/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[13].use[5]!./src/app/(auth)/login/page.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.logo {
  color: #0a4226;
  font-family: "Rum Raisin", sans-serif;
  font-weight: 600;
  font-size: 8rem;
  line-height: 1;
  margin-bottom: 50px;
}

.login-page {
  display: flex;
  min-height: 100vh;
}

.login-image {
  height: 100vh;
  width: 60vw;
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 40px;
  min-height: 100vh;
  width: 40vw;
  text-align: center;
}

.register-box {
  max-width: 400px;
  width: 100%;
}

form {
  margin-top: 40px;
}
