main.admin {
  position: relative;

  .post-form {
    height: 100%;
    overflow: hidden;
    position: relative;

    section {
      height: 100%;
      width: 100vw;
      transition: opacity 0.3s linear, top 0.5s ease;

      &.waiting {
        position: absolute;
        opacity: 0;
        top: 100%;
        z-index: -1;
      }

      &.active {
        position: relative;
        opacity: 1;
        top: 0;
      }

      &.done {
        position: absolute;
        opacity: 0;
        top: -100%;
        z-index: -1;
      }

      .inner {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        height: 100%;
        width: 100%;

        // @media screen and (min-width: 768px) {
        //   max-width: 400px;
        // }
      }
    }

    .form-elements {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
      width: 100%;

      .buttons {
        display: flex;
        flex-wrap: nowrap;
        margin-top: 10px;
        text-wrap: nowrap;

        button {
          display: flex;
          align-items: center;
          justify-content: center;
          width: auto;

          &.primary {
            width: 100%;
          }

          &:not(.primary) {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            padding-right: 15px;

            & + .primary {
              border-top-left-radius: 0;
              border-bottom-left-radius: 0;
            }
          }
        }
      }
    }
  }
}

.form-progress-steps {
  background-color: var(--field-border-color);
  display: flex;
  flex-wrap: nowrap;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  height: 5px;
  width: 100%;

  .progress-step {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100%;

    &.done {
      background-color: rgba(var(--accent-color-rgb), 0.95);
    }

    &.active {
      background-color: var(--accent-color);
      transform: scaleY(1.5);
    }

    span {
      color: var(--accent-color);
      display: inline-block;
      margin-top: 5px;
      transform: scaleY(calc(1 / 1.5));
    }
  }
}
