nav.main-nav {
  background-color: #fefefe;
  border-right: 1px solid rgba($color: #0a4226, $alpha: 0.15);
  align-items: center;
  min-width: 80%;
  padding: 100px 20px 60px;
  transition: left 0.2s linear;
  position: absolute;
  left: -80%;
  top: 0;
  bottom: 0;
  z-index: 5;

  @media screen and (min-width: 768px) {
    min-width: 260px;
    left: -260px;
  }

  @media screen and (min-width: 992px) {
    background-color: transparent;
    border: 0;
    display: flex;
    min-width: unset;
    padding: 20px;
    position: relative;
    left: unset;
    bottom: unset;
    z-index: unset;
  }

  &.open {
    display: block;
    position: fixed;
    left: 0;

    ul.main-links {
      li {
        a {
          color: var(--primary-color);
        }
      }
    }
  }

  ul.main-links {
    display: block;

    @media screen and (min-width: 992px) {
      display: flex;
      align-items: center;
    }

    li {
      list-style: none;
      text-wrap: nowrap;

      a {
        color: var(--color-pale-white);
        display: block;
        font-size: 1.6rem;
        padding: 10px;
        transition: color 0.2s ease;

        &:hover {
          color: var(--primary-color-hover);
          text-decoration: underline;
        }

        &.in-progress {
          color: var(--secondary-color);
          cursor: not-allowed;
          opacity: 0.5;
          pointer-events: none;
        }
      }
    }

    &.main-links {
      a {
        padding: 10px 20px;
      }
    }
  }
}
