header {
  display: flex;
  background-color: #fefefe;
  border-bottom: 1px solid rgba($color: #0a4226, $alpha: 0.15);
  height: var(--header-height);
  max-width: 1600px;
  width: 100%;
  padding: 10px;
  justify-self: center;
  align-items: center;

  .bars {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 10px;
    z-index: 10;

    @media screen and (min-width: 992px) {
      display: none;
    }
  }

  .logo {
    margin: 0 10px;
    height: auto;
    width: 160px;
    z-index: 10;

    a {
      display: block;
    }
  }
}
