header {
  display: flex;
  background: linear-gradient(-30deg, var(--primary-color) 0%, #000000 100%);
  border-bottom: 1px solid rgba($color: #0a4226, $alpha: 0.15);
  height: var(--header-height);
  width: 100%;
  padding: 10px 20px 10px 10px;
  justify-self: center;
  align-items: center;

  .bars {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 10px;
    z-index: 10;

    &:hover {
      svg {
        fill: var(--primary-color-hover);
      }
    }

    svg {
      fill: var(--color-pale-white);
    }

    &.open {
      svg {
        fill: var(--primary-color);

        &:hover {
          fill: var(--primary-color-hover);
        }
      }
    }

    @media screen and (min-width: 992px) {
      display: none;
    }
  }

  .logo {
    margin: 0 10px;
    height: auto;
    width: 160px;
    z-index: 10;

    a {
      display: block;
    }
  }
}
