.select-box {
  margin-bottom: 15px;

  .select {
    background-color: var(--field-background-color);
    border: 1px solid var(--field-border-color);
    border-radius: var(--field-border-radius);
    position: relative;
    padding: 15px 14px 10px;

    &:not(:has(.disabled)) {
      &:hover {
        border-color: rgba(var(--primary-color-rgb), 0.5);
        box-shadow: 0 0 3px 5px rgba(0, 0, 0, 0.03);
      }

      &:has(input:focus),
      &:has(textarea:focus) {
        border-color: var(--primary-color);
        box-shadow: 0 0 3px 5px rgba(0, 0, 0, 0.03);
      }
    }

    &:has(input) + span {
      color: red;
      display: none;
    }

    &:has(input[blurred='true']:invalid) + span {
      display: block;
    }

    &:has(input[blurred='true']:invalid) {
      border-color: red;

      label {
        color: red;
      }
    }
  }

  label {
    background-color: var(--field-background-color);
    color: var(--heading-color);
    line-height: 1;
    display: block;
    transform-origin: left top;
    max-width: calc(133% - 55px);
    padding: 0 5px;
    pointer-events: auto;
    z-index: 1;
    position: absolute;
    left: 0px;
    top: 0px;
    transform: translate(10px, -1px) scale(0.8);
    user-select: none;

    span {
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-top: -6px;
    }
  }

  select {
    background-color: transparent;
    border: 0;
    outline: 0;
    width: 100%;
  }

  .input-line,
  .help-line {
    padding: 4px 15px 0;
    text-align: left;
  }

  .help-line {
    background-color: #fafafa;
    color: var(--secondary-color);
    display: block;
    padding: 4px 15px;
  }
}
