.user-details {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: nowrap;
  }

  &--image-column {
    padding-bottom: 30px;

    @media screen and (min-width: 768px) {
      padding-bottom: 0;
    }

    .user-card--image {
      height: 250px;
      min-width: 250px;

      .image__blur {
        height: 250px;
      }

      a {
        pointer-events: none;
      }
    }

    button {
      display: block;
      margin: 20px auto 0;
      width: 100%;
    }
  }

  &--data-column {
    @media screen and (min-width: 768px) {
      padding: 0 0 0 30px;
    }

    .header {
      padding-bottom: 30px;

      h1 {
        display: flex;
        margin: 0 0 10px 0;
        line-height: 1;
        > span {
          margin-left: auto;

          sup {
            font-size: 0.5em;
            font-weight: 400;
          }

          .slash {
            font-weight: 400;
          }

          .earnings-rate {
            font-size: 0.5em;
            font-weight: 400;
          }
        }
      }

      > div {
        color: var(--secondary-color);
      }
    }

    .body {
      .description {
        line-height: 1.5;
        white-space: pre-wrap;
      }

      .contact-details {
        line-height: 1.8;
      }

      hr {
        border-color: transparent;
        // border-top: 1px solid rgb(68, 68, 68);
        border-top: 1px solid var(--border-color);
        margin: 20px 0;
      }
    }

    .offerings {
      .item {
        display: flex;
        flex-direction: row;
      }
    }

    .highlighted {
      border-width: 2px 0;
      border-color: rgba(var(--primary-color-rgb), 0.95);
      border-style: solid;
      color: var(--primary-color);
      font-family: var(--font-heading);
      font-size: 1.8rem;
      font-style: italic;
      font-weight: 600;
      margin: 40px 0;
      padding: 20px 10px;
    }
  }
}
