.offerings {
  padding-bottom: 20px;

  .item {
    align-items: center;
    margin: 0 10px 10px 0;

    .circle {
      background-color: var(--accent-color);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      width: 40px;

      path {
        fill: var(--color-pale-white);
      }
    }

    &--label {
      font-size: 1.6rem;
      margin-left: 10px;
    }
  }
}
