/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[13].use[5]!./src/app/components/formElements/TextField/TextField.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.input-box {
  margin-bottom: 15px;
}
.input-box .input {
  background-color: var(--field-background-color);
  border: 1px solid rgb(128, 128, 128);
  border-radius: 4px;
  position: relative;
  padding: 15px 14px 10px;
}
.input-box label {
  background-color: var(--field-background-color);
  color: var(--heading-color);
  line-height: 1;
  padding: 0 5px;
  display: block;
  transform-origin: left top;
  max-width: calc(133% - 55px);
  position: absolute;
  left: 0px;
  top: 0px;
  transform: translate(10px, -1px) scale(0.8);
  z-index: 1;
  pointer-events: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.input-box label span {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: -6px;
}
.input-box input {
  background-color: transparent;
  border: 0;
  outline: 0;
  width: 100%;
}
.input-box .input-line {
  display: block;
  height: 1.6rem;
  line-height: 1;
  padding: 4px 15px 0;
  text-align: left;
}
.input-box.error label {
  color: red;
}
.input-box.error .input {
  border-color: red;
}
.input-box.error .input-line {
  color: red;
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[13].use[5]!./src/app/page.scss ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.logo {
  color: #0a4226;
  font-family: "Rum Raisin", sans-serif;
  font-weight: 600;
  font-size: 8rem;
  line-height: 1;
  margin-bottom: 50px;
}

.login-page {
  display: flex;
  min-height: 100vh;
}

.login-image {
  height: 100vh;
  width: 60vw;
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 40px;
  min-height: 100vh;
  width: 40vw;
  text-align: center;
}

.register-box {
  max-width: 400px;
  width: 100%;
}

form {
  margin-top: 40px;
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[13].use[5]!./src/app/components/formElements/RadioGroup/RadioGroup.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/

/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[13].use[5]!./src/app/components/formElements/Button/Button.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
button {
  --height: 52.5px;
  border-radius: calc(var(--height) * 0.5);
  font-size: 1.6rem;
  height: var(--height);
  margin-top: 20px;
  padding: 15px 25px;
}
button.primary {
  background-color: #0a4226;
  color: #fff;
}
