.single-checkbox {
  .input-box {
    display: none;

    &:has(input[type='checkbox']:checked) + label {
      border-color: rgba(var(--primary-color-rgb), 0.5);

      > div:not(.checkbox-icon) {
        display: flex;
        margin-right: 5px;

        svg {
          fill: rgba(var(--primary-color-rgb), 0.7);
        }
      }

      > span {
        color: var(--primary-color);
      }
    }
  }

  label {
    background-color: var(--field-background-color);
    border: 1px solid var(--field-border-color);
    border-radius: var(--field-border-radius);
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    margin-bottom: 15px;
    padding: 15px;
    position: relative;

    &:hover {
      border-color: rgba(var(--primary-color-rgb), 0.5);
      box-shadow: 0 0 3px 5px rgba(0, 0, 0, 0.03);
    }

    .checkbox-icon {
      background-color: var(--background-color);
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    > div:not(.checkbox-icon) {
      display: flex;
      margin-right: 5px;

      svg {
        fill: rgba(var(--text-color-rgb), 0.4);
      }
    }

    > span {
      color: rgba(var(--text-color-rgb), 0.7);
      //   display: flex;
      align-items: center;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
